{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Docker Container Manager</h1>
    <ul>
        {% for container in containers %}
            <li>
                <div class="container-info">
                    <span class="container-id">{{ container.short_id }}</span>
                    <span class="container-name">{{ container.name }}</span>
                    <span class="container-status {{ container.status.lower() }}">{{ container.status }}</span>
                </div>
                <div class="container-actions">
                    <a href="{{ url_for('open_container', container_id=container.id) }}" class="btn-link">Open</a>
                    <a href="{{ url_for('delete', container_id=container.id) }}" class="btn-link btn-danger">Delete</a>
                </div>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('create') }}" class="btn-primary">+ Create Container</a>
</div>
{% endblock %}
